@use "constants";

// request list 
#row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 8px 32px;
}

@media screen and (max-width: 2048px) {
    #row1 {
        grid-template-columns: 1fr;
    }
  }

.admin-request-container {
    padding: 16px;
    text-align: left;
    color: constants.$dark-color;
}

.admin-request-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 8px;

    h3 {
        margin: 0;
    }

    a {
        text-decoration: underline;
    }
}

.request-list {
    grid-template-rows: repeat(auto-fill, 1fr);

    .request-item {
        border-bottom: 1px solid constants.$dark-color;
        padding: 8px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);

        * {
            display: flex;
            align-items: center;
        }

        p {
            margin: 0;
        }
    }
}

.request-status {
    border-radius: 16px;
    padding: 4px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request-status-approved {
    background-color: rgb(151, 246, 151);
}

.request-status-rejected {
    background-color: rgb(252, 90, 90);
}

// general
.admin-container {
    font-family: "Arial";
    margin: 0;
    padding: 12px;
    box-Sizing: "border-box";
}
.admin-header {
    // background-color: constants.$primary-color;
    color: constants.$dark-color;
    padding: 20px;
    text-Align: center;
}
  .admin-main {
    padding: 20px;
  }
  .admin-section {
    margin-bottom: 20px;
    padding: 5px;
    border: 1px solid #e7e6e6;
    border-radius: 8px;
    color: constants.$dark-color;
    background-color: constants.$primary-color;

  }
  .admin-footer {
    margin-top: 200px;
    text-Align: bottom;
    padding: 10px;
    color: constants.$dark-color
    //background-color: constants.$secondary-color;
  }

  .order-status {
    border-radius: 16px;
    padding: 4px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

// inventory 

#row2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 8px 32px;
}

@media screen and (max-width: 2048px) {
    #row2 {
        grid-template-columns: 1fr;
    }
  }

.admin-inventory-container {
    padding: 16px;
    text-align: left;
    color: constants.$dark-color;
}

.admin-inventory-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 8px;

    h2 {
        margin: 0;
    }

    h3 {
        text-decoration: underline;
    }
}

.inventory-list {
    grid-template-rows: repeat(4, 1fr);

    .inventory-item {
        border-bottom: 1px solid constants.$dark-color;
        padding: 8px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        * {
            display: flex;
            align-items: center;
        }

        p {
            margin: 0;
        }
    }
}

.quantity-status {
    border-radius: 16px;
    padding: 4px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quantity-status-high {
    background-color: rgb(151, 246, 151);
}

.quantity-status-moderate {
    background-color: rgb(252, 163, 90);
}

.quantity-status-low {
    background-color: rgb(252, 90, 90);
}