@use "constants";

.sidebar {
    margin: 0;
    padding: 100px 24px 0px 24px;
    width: 250px;
    background-color: constants.$primary-color;
    color: constants.$dark-color;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: left;
  }
  
  .sidebar a {
    display: block;
    padding: 16px 16px 16px 0px;
    text-decoration: none;
    border-bottom: 1px solid #457B9D;
    margin-bottom: 16px;
  }
  
  div.content {
    margin-left: 250px;
    padding: 1px 16px;
    height: 100vh;
  }

  .sidebar-title {
    margin: 0;
    margin-bottom: 40px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }