@use "constants";

.sidebar {
    margin: 0;
    padding: 0;
    padding-top: 100px;
    width: 300px;
    background-color: constants.$dark-color;
    color: constants.$bg-color;
    position: fixed;
    height: 100%;
    overflow: auto;
    text-align: left;
  }
  
  .sidebar a {
    display: block;
    padding: 16px 16px 16px 0px;
    text-decoration: none;
    border-bottom: 1px solid #457B9D;
    margin: 0px 24px 16px 24px;
    color: constants.$bg-color;
  }
  
  div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 100vh;
  }

  .sidebar-title {
    margin-bottom: 40px;
    margin-left: 24px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
      padding: 0;
    }
    .sidebar a {
      float: left;
      padding: 16px 16px 8px 16px;
      margin: 0px 8px 16px 8px;
    }
    div.content {margin-left: 0;}
    .sidebar-title {
      margin-bottom: 0px;
      margin-left: 8px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }

    .sidebar-title {
      text-align: center;
      
    }
  }