@use "constants";

.requests-table {
    background-color: constants.$primary-color;
    padding: 16px;
    text-align: left;

    .transaction-header {
        font-weight: bold;
    }

    .transaction-item {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        width: 100%;
        border-bottom: 1px solid constants.$dark-color;
        padding: 8px;
    
        p {
            margin: 0;
        }

        div {
            display: flex;
            align-items: center;
        }
    }

}

.order-summary {
    background-color: constants.$primary-color;
    padding: 16px;
    margin-bottom: 16px;
    width: 40%;
    border-radius: 16px;

    h2, p {
        margin: 0;
    }

    .table-item {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        border-bottom: 1px solid constants.$dark-color;
        padding: 8px;
    
        p {
            margin: 0;
        }

        div {
            display: flex;
            align-items: center;
        }
    }

    .header {
        font-weight: bold;
    }
}

@media screen and (max-width: 800px) {
    .order-summary {
        width: 100%;
    }
}